<div id="<%= dom_id permission %>">
  <p>
    <strong>Resource:</strong>
    <%= permission.resource %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= permission.action %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= permission.description %>
  </p>

</div>
